@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 47.4% 11.2%);

        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 47.4% 11.2%);

        --border: hsl(214.3 31.8% 91.4%);
        --input: hsl(214.3 31.8% 91.4%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 47.4% 11.2%);

        --primary: #1d4ed8;
        --primary-foreground: hsl(210 40% 98%);

        --secondary: #0d73e7ff;
        --secondary-foreground: hsl(222.2 47.4% 11.2%);

        --accent: #1d4ed8;
        --accent-foreground: #fff;

        --destructive: hsl(0 100% 50%);
        --destructive-foreground: hsl(210 40% 98%);

        --ring: hsl(215 20.2% 65.1%);

        --radius: 0.5rem;
    }

    .dark {
        --background: #14161a;
        --foreground: hsl(213 31% 91%);

        --muted: hsl(223 47% 11%);
        --muted-foreground: hsl(215.4 16.3% 56.9%);

        --accent: #1d4ed8;
        --accent-foreground: hsl(210 40% 98%);

        --popover: #14161a;
        --popover-foreground: hsl(215 20.2% 65.1%);

        --border: hsl(216 34% 17%);
        --input: hsl(216 34% 17%);

        --card: #14161a;
        --card-foreground: hsl(213 31% 91%);

        --primary: #1d4ed8;
        --primary-foreground: hsl(222.2 47.4% 1.2%);

        --secondary: #0d73e7ff;
        --secondary-foreground: hsl(210 40% 98%);

        --destructive: hsl(0 63% 31%);
        --destructive-foreground: hsl(210 40% 98%);

        --ring: hsl(216 34% 17%);

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
        @apply overflow-x-hidden;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: 'rlig' 1, 'calt' 1;
        @apply scroll-smooth;
    }
}

/* custom scrollbar */
/* ::-webkit-scrollbar {
    width: 10px;
}

html.dark ::-webkit-scrollbar {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--ring);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--background);
    overflow: hidden;
} */

/* custom scrollbar */

/* @media screen and (max-width: 280px) {
    .foldIndexTitle {
        font-size: 2rem;
    }
    .foldSkillCard {
        padding: 1rem;
    }
    .foldContactCard {
        padding: 28px 0 28px 0;
    }
    .foldContactCard .foldContactIcon {
        display: none;
    }
    .foldButton {
        font-size: 1rem;
    }
} */
